// variables
$base-color: #3AAFA9;
$primary-color: #FFFFFF;
$secondary-color: #17252A;

.contact-modal-container {
    position: absolute;
    top: 20px;
    z-index: 9999;
    width: 95%;
    height: 35vh;
    background-color: $primary-color;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;

    .contact-modal-form {
        position: relative;
        padding: 25px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .modal-email-container {
            display: flex;
            flex-direction: column;

            label {
                font-size: 14px;
                font-weight: 500;
            }

            input {
                margin-top: 10px;
                padding: 5px 10px;
                font-size: 16px;
                font-weight: 400;
                outline: none;
            }
        }

        .modal-button-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            input {
                cursor: pointer;
                font-size: 14px;
                font-weight: 600;
                padding: 7.5px;
                border: none;
                outline: none;
                color: $primary-color;
                background-color: $base-color;
                border-radius: 2.5px;
                margin-top: 10px;
            }
        }
        
        .modal-cancel-button{
            cursor: pointer;
            position: absolute;
            top: 25px;
            right: 25px;

            .modal-cancel-logo {
                font-size: 20px;
                color: $base-color;
            }
        }
    }
}

@media (max-width: 768px) {
    .contact-modal-container{
        width: 90%;
    }
}