$base-color: #3AAFA9;
$primary-color: #FFFFFF;
$secondary-color: #17252A;

.login-form-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-form-box {
        width: 30%;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
        padding: 50px ;

        .login-form-headers {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .header-logo{
                width: 60px;
            }

            .header-brand {
                text-align: center;
                margin-top: 5px;
                font-size: 20px;
                font-weight: 900;
                text-transform: uppercase;
                color: $base-color;
                cursor: pointer;
            }
            .header-desc {
                text-align: center;
                font-size: 18px;
                font-weight: 700;
                text-transform: capitalize;
                color: $secondary-color;
                margin-top: 35px;
                cursor: pointer;
            }
        }

        .login-form-buttons {
            margin-top: 75px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .buttons-header{
                font-size: 12px;
                font-weight: 600;
                color: $secondary-color;
                opacity: 0.75;
                text-align: center;
                margin-bottom: 15px;
            }

            .google-btn-container{
                cursor: pointer;
                display: grid;
                grid-template-columns: 1fr 4fr;
                align-items: center;
                border: 1px solid rgb(198, 198, 198);
                border-radius: 5px;
                
                .google-btn-logo-box{
                    border-right: 1px solid rgb(198, 198, 198);
                    display: flex;
                    justify-content: center;
                    padding: 10px;

                    .google-btn-logo{
                        width: 20px;
                        height: 20px;
                    }
                }
                .google-btn-text{
                    text-align: center;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }

    @media (max-width: 1200px) {
        .login-form-box {
            width: 40%;
            height: 65%;
            border-radius: 25px;
        }
    }

    @media (max-width: 900px) {
        .login-form-box {
            width: 50%;
            height: 65%;
            border-radius: 25px;
        }
    }

    @media (max-width: 700px) {
        .login-form-box {
            width: 70%;
            height: 70%;
            border-radius: 25px;
        }
    }
    
    @media (max-width: 450px) {
        .login-form-box {
            width: 100%;
            height: 100%;
            border-radius: 0px;
        }
    }
}