// variables
$base-color: #3AAFA9;
$primary-color: #FFFFFF;
$secondary-color: #17252A;

.message-card-container {
    display: flex;

    .message-card-avatar {
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 40px;
            height: 40px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            border-radius: 50%;    
        }
    }
    .message-card-text{
        position: relative;
        margin-left: 25px;
        display: flex;
        flex-direction: column;
        
        .message-card-desc {
            font-size: 16px;
            font-weight: 400;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            border-radius: 15px;
            padding: 10px 15px;
            max-width: 400px;

        }
        .message-card-date {
            min-width: 100px;
            position: absolute;
            bottom: -16px;
            font-size: 10px;
            font-weight: 400;
            opacity: 0.6;
            color: $secondary-color;
        }
    }
}