$base-color: #3AAFA9;
$primary-color: #FFFFFF;
$secondary-color: #17252A;

.setting-form-container {
    width: 95%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;

    .setting-form-box {
        position: relative;
        padding: 25px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .form-username-container {
            display: flex;
            flex-direction: column;

            label {
                font-size: 14px;
                font-weight: 500;
            }

            input {
                margin-top: 15px;
                padding: 5px 10px;
                font-size: 16px;
                font-weight: 400;
                outline: none;
            }

            .helper-text-box{
                padding: 5px 0px;
                position: relative;
                
                .helper-text{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }

        .form-button-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 25px;

            input {
                cursor: pointer;
                font-size: 14px;
                font-weight: 600;
                padding: 7.5px;
                border: none;
                outline: none;
                color: $primary-color;
                background-color: $base-color;
                border-radius: 2.5px;
            }
        }
        .cancel-button{
            cursor: pointer;
            position: absolute;
            top: 25px;
            right: 25px;

            .cancel-logo {
                font-size: 20px;
                color: $base-color;
            }
        }
    }
}

@media (max-width: 768px) {
    .setting-form-container{
        width: 90%;
    }
}